if TARGET_DEVICESOLUTIONSMX6BOARDS

config SYS_BOARD
	default "mx6boards"

config SYS_VENDOR
	default "devicesolutions"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "devicesolutionsmx6boards"

endif
